@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Urbanist", sans-serif;
}

/* Apply to the whole page */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #088a3f #e6f9ed; /* thumb | track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #e6f9ed; /* very light green (track) */
}

*::-webkit-scrollbar-thumb {
  background: #b7c3bb; /* Tailwind green-400 */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #013a16; /* Tailwind green-500 on hover */
}
